@model Tutor_Finder.Models.ViewModels.LanguageDetails

@if (Session["isAdmin"].ToString() == "true")
{
    <nav>
        <ul>
            <li><a href="/Tutor/List">Tutor</a></li>
            <li><a href="/Language/List">Language</a></li>
            <li><a href="/Student/List">Student</a></li>
            <li><a href="/Tutor/LoginAdmin">Logout</a></li>
        </ul>
    </nav>
    <div><a href="/Language/Edit/@Model.Language.LanguageID">Update</a></div>
    <div><a href="/Language/DeleteConfirm/@Model.Language.LanguageID">Delete</a></div>
}
else
{
    <nav>
        <ul>
            <li><a href="/Language/List">Home</a></li>
            <li><a href="/Student/LoginStudent">Logout</a></li>
        </ul>
    </nav>
    <br />
}


@{
    ViewBag.Title = "View";
}
<h2>Language @Model.Language.LanguageName</h2>




<div class="row">
    <div>

        <div>Language Description: @Model.Language.LanguageDescription</div>
    </div>
    <div>
        <h3>Tutors related to @(Model.Language.LanguageName)</h3>
        <ul>

            @foreach (var tutor in Model.RelatedTutors)
            {
                <li>
                    <a href="/Tutor/Details/@tutor.TutorID">@tutor.TutorFirstName @tutor.TutorLastName</a>
                </li>
            }

        </ul>
    </div>
</div>