@model Tutor_Finder.Models.ViewModels.TutorDetails
@{
    ViewBag.Title = "List";
}
<nav>
    <ul>
        <a href="/Tutor/List">Go back to list</a>
        <li><a href="/Tutor/Edit/@Model.Tutor.TutorID">Update</a></li>
        <li><a style="color:#ab2020;" href="/Tutor/DeleteConfirm/@Model.Tutor.TutorID">Delete</a></li>
    </ul>
</nav>

<h2>@Model.Tutor.TutorFirstName</h2>

<div>Tutor First Name: @Model.Tutor.TutorFirstName</div>


<div>
    <h4>Students for @Model.Tutor.TutorFirstName:</h4>
    @foreach (var Student in Model.Student)
    {

        <a href="/Student/Details/@Student.StudentID">@Student.StudentFirstName, @Student.StudentLastName</a> <a style="color:#ab2020;" href="/Tutor/Unassociate/@Model.Tutor.TutorID?StudentId=@Student.StudentID">[x]</a><br />
    }
</div>
<div>

    <form method="POST" action="/Tutor/Associate/@Model.Tutor.TutorID">
        <select name="StudentID">
            <option value="">Select Student</option>
            @foreach (var Student in Model.OtherStudents)
            {
                <option value="@Student.StudentID">@Student.StudentFirstName, @Student.StudentLastName</option>
            }

        </select>
        <input type="submit" value="Add Student" />
    </form>
</div>