@model Tutor_Finder.Models.ViewModels.TutorDetails
@{
    ViewBag.Title = "List";
}
@if (Session["isAdmin"] != null && Session["isAdmin"].ToString() == "true")
{
    <nav>
        <ul>
            <nav>
                <ul>
                    <li><a href="/Tutor/List">Tutor</a></li>
                    <li><a href="/Language/List">Language</a></li>
                    <li><a href="/Student/List">Student</a></li>
                    <li><a href="/Tutor/LoginAdmin">Logout</a></li>
                </ul>
            </nav>

        </ul>
    </nav>

    <div><a href="/Tutor/Edit/@Model.Tutor.TutorID">Update</a></div>
    <div><a href="/Tutor/DeleteConfirm/@Model.Tutor.TutorID">Delete</a></div>
}
else
{
    <nav>
        <ul>
            <li><a href="/Tutor/MainPage">Home</a></li>
            <li><a href="/Tutor/GetStudentsForTutor/@Model.Tutor.TutorID">View Student Profile</a></li>
            <li><a href="/Tutor/LoginTutor">Logout</a></li>

        </ul>
    </nav>
}
<br />
<h2>Associate Language to your profile</h2>
<br />
<h3>Hey, @Model.Tutor.TutorFirstName</h3>
<br />

<div>
    <h5>Students for @Model.Tutor.TutorFirstName:</h5>
    @foreach (var Student in Model.Student)
    {

        <a href="#">@Student.StudentFirstName, @Student.StudentLastName</a> <br />
    }
</div>
<br />

<div>
    <h4>Languages for @Model.Tutor.TutorFirstName:</h4>
    @foreach (var Language in Model.Language)
    {

        <a href="#">@Language.LanguageName, @Language.LanguageDescription</a> <a style="color:#ab2020;" href="/Tutor/UnassociateLanguage/@Model.Tutor.TutorID?LanguageID=@Language.LanguageID">[x]</a><br />
    }
</div>
<div>

    <form method="POST" action="/Tutor/AssociateLanguage/@Model.Tutor.TutorID">
        <select name="LanguageID">
            <option value="">Select Language</option>
            @foreach (var Language in Model.OtherLanguages)
            {
                <option value="@Language.LanguageID">@Language.LanguageName, @Language.LanguageDescription</option>
            }

        </select>
        <input type="submit" value="Add Language" />
    </form>
</div>