@model Tutor_Finder.Models.ViewModels.UpdateTutor

@{
    ViewBag.Title = "Edit";
}
<nav>
    <ul>
        <li><a href="/Tutor/List">Tutor</a></li>
        <li><a href="/Language/List">Language</a></li>
        <li><a href="/Student/List">Student</a></li>
        <li><a href="/Tutor/LoginAdmin">Logout</a></li>
    </ul>
</nav>
<br />
<div><a href="/Tutor/DeleteConfirm/@Model.Tutor.TutorID">Delete</a></div>
<h2>Update Tutor  </h2>
<form action="/Tutor/Update/@Model.Tutor.TutorID" method="POST" enctype="multipart/form-data">
    <div class="">
        <div class="">
            <div style="display:none;">
                @* Pass through the Tutor ID *@
                <input type="text" name="TutorID" value="@Model.Tutor.TutorID" />
            </div>
            <div>
                <label>First Name:</label> <input type="text" name="TutorFirstName" value="@Model.Tutor.TutorFirstName" />
            </div>
            <div>
                <label>Last Name :</label> <input type="text" name="TutorLastName" value="@Model.Tutor.TutorLastName" />
            </div>
            <div>
                <label>Description:</label> <input type="text" name="TutorDescription" value="@Model.Tutor.TutorDescription"/>
            </div>
            <div>
                <label>Contact Number:</label> <input type="text" name="ContactNumber" value="@Model.Tutor.ContactNumber"/>
            </div>
            <div>
                <label>Social Media:</label> <input type="text" name="SocialMedia" value="@Model.Tutor.SocialMedia"/>
            </div>
            <div>
                <label>EmailID:</label> <input type="text" name="EmailID" value="@Model.Tutor.EmailID"/>
            </div>
        </div>

    </div>
    <div>
        <input type="submit" value="Update Tutor" />

    </div>

</form>