@model Tutor_Finder.Models.ViewModels.StudentDetails


@{
    ViewBag.Title = "View";
}

@if (Session["isAdmin"].ToString() == "true")
{
    <nav>
        <ul>
            <li><a href="/Tutor/List">Tutor</a></li>
            <li><a href="/Language/List">Language</a></li>
            <li><a href="/Student/List">Student</a></li>
            <li><a href="/Tutor/LoginAdmin">Logout</a></li>
        </ul>
    </nav>
    <div><a href="/Student/Edit/@Model.Student.StudentID">Update</a></div>
    <div><a href="/Student/DeleteConfirm/@Model.Student.StudentID">Delete</a></div>

}
else
{
    <nav>
        <ul>
            <li><a href="/Language/List">Home</a></li>
            <li><a href="/Student/LoginStudent">Logout</a></li>
        </ul>
    </nav>
}
<br />
<h2>Hey, @Model.Student.StudentFirstName!</h2>
<div class="row">
    <div>
        <div>First Name: @Model.Student.StudentFirstName</div>
        <div>Last Name: @Model.Student.StudentLastName</div>
        <div>Semester: @Model.Student.StudentSemester</div>
        <div>Student Number: @Model.Student.StudentNumber</div>
        <div>Email ID: @Model.Student.StudentEmailID</div>
        <div>Contact Number: @Model.Student.StudentContactNumber</div>
    </div>


    <div>
        <h4>Associated Tutors:</h4>
        @foreach (var tutor in Model.AssociatedTutors)
        {
            <a href="/tutor/Details/@tutor.TutorID">@tutor.TutorFirstName @tutor.TutorLastName</a><br />

        }
    </div>
</div>