@model Tutor_Finder.Models.ViewModels.StudentDetails


@{
    ViewBag.Title = "View";
}
<h2>@Model.Student.StudentFirstName, @Model.Student.StudentLastName</h2>
<nav>
    <ul>
        <li><a href="/Student/List">Go back to list</a></li>
        <li><a href="/Student/Edit/@Model.Student.StudentID">Update</a></li>
        <li><a style="color:#ab2020;" href="/Student/DeleteConfirm/@Model.Student.StudentID">Delete</a></li>
    </ul>
</nav>
<div class="row">
    <div>
        <div>Student Name: @Model.Student.StudentFirstName</div>
        <div>Student Description: @Model.Student.StudentLastName</div>
    </div>


    <div>
        <h4>Associated Tutors:</h4>
        @foreach (var tutor in Model.AssociatedTutors)
        {
            <a href="/tutor/Details/@tutor.TutorID">@tutor.TutorFirstName</a><br />

        }
    </div>
</div>