@model Tutor_Finder.Models.StudentDto

@{
    ViewBag.Title = "Edit";
}
@if (Session["isAdmin"].ToString() == "true")
{
    <li><a href="/Student/List">Go back to list</a></li>
<li><a style="color:#ab2020;" href="/Student/DeleteConfirm/@Model.StudentID">Delete</a></li>

}
<h2>Update Student</h2>
<form action="/Student/Update/@Model.StudentID" method="POST">
    <div style="display:none;">
        <input type="text" name="StudentId" value="@Model.StudentID" />
    </div>
    <div>
        <label>Student First Name:</label> <input type="text" name="StudentFirstName" value="@Model.StudentFirstName" />
    </div>
    <div>
        <label>Student Last Name:</label> <input type="text" name="StudentLastName" value="@Model.StudentLastName" />
    </div>
    <div>
        <label>Student Semester:</label> <input type="number" name="StudentSemester" value="@Model.StudentSemester" />
    </div>
    <div>
        <label>Student Number:</label> <input type="text" name="StudentNumber" value="@Model.StudentNumber" />
    </div>

    <div>
        <input type="submit" value="Update Student" />

    </div>
</form>